body {
  font-family: 'Roboto', sans-serif;

}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider{
  flex: 0 0 250px !important;
  max-width: 80px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed{
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important; 
  width: 800px !important;
}

.sm-logo{
  display: none;
}
.ant-layout-sider-collapsed .sm-logo{
  display: block;
}
.lg-logo{
  display: block;
}
.ant-layout-sider-collapsed .lg-logo{
  display: none;
}

.logo {
  background-color: #ffd333 !important;
  margin: 0;
  height: 64px;
}
.ant-menu-title-content{
  font-size: 16px;
}
main{
  overflow-y: scroll;
  background-color: transparent !important;
 
}
.ant-layout-header h5{
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge{
  top: 16px;
  right: -6px;
}







